# Auto detect text files and perform LF normalization
* text=auto
C:/Github/jeu[[:space:]]gestion[[:space:]]de[[:space:]]bar/Projet_gestion_bar/BUILD_FINAL_Jeu_Bar.zip filter=lfs diff=lfs merge=lfs -text
